
{%- doc -%}
  Renders the blog post info text block.

  @param {object} [article] - The article object
  @param {string} [alignment] - The alignment of the text. Defaults to the block's alignment setting.
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% assign alignment = alignment | default: block_settings.alignment %}

{%- if block_settings.show_date or block_settings.show_author -%}
  <div
    class="
      blog-post-details
      spacing-style
      justify-{{ alignment }}
      {% if block_settings.type_preset != '' %}{{ block_settings.type_preset }}{% endif%}
    "
    style="{% render 'spacing-style', settings: block_settings %}"
  >
    {%- if block_settings.show_date -%}
      <span>{{- article.published_at | time_tag: format: 'date' -}}</span>
    {%- endif -%}

    {%- if block_settings.show_date and block_settings.show_author -%}
      <span>{{ 'content.blog_details_separator' | t }}</span>
    {%- endif -%}

    {%- if block_settings.show_author -%}
      <span>{{ article.author }}</span>
    {%- endif -%}
  </div>
{% endif %}

{% stylesheet %}
  .blog-post-details {
    display: flex;
    gap: var(--gap-sm);
    font-size: var(--font-size--paragraph);
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
    white-space: nowrap;
  }

  .blog-post-details > span {
    text-overflow: clip;
    overflow: hidden;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Details",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Author",
      "default": true
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "Preset",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "paragraph",
          "label": "Paragraph"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "",
      "info": "Edit presets in [theme settings](/editor?context=theme&category=typography)"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "visible_if": "{{ block.settings.show_alignment != false }}"
    },
    {
      "type": "checkbox",
      "id": "show_alignment",
      "label": "Show alignment",
      "default": true,
      "visible_if": "{{ false }}"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Details"
    }
  ]
}
{% endschema %}
