{% liquid
  assign block_settings = block.settings
  assign content = article.excerpt | default: article.content

  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="blog-post-card__content-text spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "

  style="
    {% render 'spacing-padding', settings: block_settings %}
    {% render 'typography-style', settings: block_settings %}
    {% if block_settings.color != '' %}
      --color: {{ block_settings.color }};
    {% endif %}
  "

  {{ block.shopify_attributes }}
{% endcapture %}

{% if content %}
  {% assign truncatewords = 30 %}
  {% unless article.image %}
    {% assign truncatewords = 90 %}
  {% endunless %}

  {% liquid
    assign element = 'div'
    if is_rte
      assign element = 'rte-formatter'
    endif
  %}

  <{{ element }} {{ attributes }}>
    {{ content | strip_html | truncatewords: truncatewords }}
    <a href="{{ article.url }}">{{ 'content.read_more' | t }}</a>
  </{{ element }}>
{% endif %}

{% stylesheet %}
  .blog-post-card__content-text a {
    color: var(--color-primary);
  }

  .custom-color,
  .custom-color > :is(h1, h2, h3, h4, h5, h6, p, *) {
    color: var(--color);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Description",
  "settings": [
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "Preset",
      "options": [
        {
          "value": "rte",
          "label": "Default"
        },
        {
          "value": "paragraph",
          "label": "Paragraph"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "rte",
      "info": "Edit presets in [theme settings](/editor?context=theme&category=typography)"
    },
    {
      "type": "select",
      "id": "font",
      "label": "Font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "Body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "Subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "Heading"
        },
        {
          "value": "var(--font-accent--family)",
          "label": "Accent"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Size",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        },
        {
          "value": "1.25rem",
          "label": "20px"
        },
        {
          "value": "1.5rem",
          "label": "24px"
        },
        {
          "value": "2rem",
          "label": "32px"
        },
        {
          "value": "2.5rem",
          "label": "40px"
        },
        {
          "value": "3rem",
          "label": "48px"
        },
        {
          "value": "3.5rem",
          "label": "56px"
        },
        {
          "value": "4.5rem",
          "label": "72px"
        },
        {
          "value": "5.5rem",
          "label": "88px"
        },
        {
          "value": "7.5rem",
          "label": "120px"
        },
        {
          "value": "9.5rem",
          "label": "152px"
        },
        {
          "value": "11.5rem",
          "label": "184px"
        }
      ],
      "default": "1rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "Line height",
      "options": [
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "loose",
          "label": "Loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "Letter spacing",
      "options": [
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "loose",
          "label": "Loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "Case",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "options": [
        {
          "value": "pretty",
          "label": "Pretty"
        },
        {
          "value": "balance",
          "label": "Balance"
        },
        {
          "value": "nowrap",
          "label": "None"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "Color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "Text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "Heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "Link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Description"
    }
  ]
}
{% endschema %}
