

{% assign block_settings = block.settings %}

<div
  class="cart-title spacing-style text-{{ block_settings.alignment }}"
  style="{% render 'spacing-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <h1 class="{{ block_settings.type_preset | default: 'h2' }}">
    {%- if cart.empty? -%}
      {{ 'content.your_cart_is_empty' | t }}
    {%- else -%}
      {{ block_settings.title }}
      {%- if block_settings.show_count -%}{% render 'cart-bubble' %}{%- endif -%}
    {%- endif -%}
  </h1>
</div>

{% stylesheet %}
  .cart-title h1 {
    margin-block-end: 0;
    display: inline-flex;
    align-items: center;
    gap: var(--gap-sm);
  }

  .cart-title .cart-bubble {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--style-border-radius-buttons-primary);
    aspect-ratio: auto;
    padding: var(--cart-padding);
  }

  .cart-title .cart-bubble[data-maintain-ratio] {
    aspect-ratio: 1;
    min-width: 26px;
  }

  .cart-title .cart-bubble__background {
    background-color: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));
  }

  .cart-title .cart-bubble__text {
    color: var(--color-foreground);
    font-family: var(--font-paragraph--family);
    font-size: clamp(var(--cart-font-size--2xs), 0.7lh, var(--cart-font-size--xs));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Title",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Cart",
      "default": "Cart"
    },
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "Cart count",
      "default": true
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "Preset",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "paragraph",
          "label": "Paragraph"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "",
      "info": "Edit presets in [theme settings](/editor?context=theme&category=typography)"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "Left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "Right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Title"
    }
  ]
}
{% endschema %}
