

{% liquid
  assign product = closest.product
  assign block_settings = block.settings

  if settings.currency_code_enabled_product_cards
    assign price_min = product.price_min | money_with_currency
  else
    assign price_min = product.price_min | money
  endif

  if product.price_varies
    assign display_price = 'content.price_from' | t: price: price_min
  endif

  assign has_swatches_only = false

  if product.options.size == 1
    assign first_product_option_value = product.options_with_values.first.values.first

    if first_product_option_value.swatch != blank
      assign has_swatches_only = true
    endif
  endif
%}

<product-price
  class="text-right {{ block_settings.type_preset | default: 'h6' }} spacing-style"
  data-block-id="{{ block.id }}"
  data-product-id="{{ product.id }}"
  style="
    {% render 'spacing-style', settings: block_settings %}
    --product-price-width: 100%;
  "
  {{ block.shopify_attributes }}
>
  {% if product.price_varies and has_swatches_only == false and price_min != blank %}
    <span class="price">{{ display_price }}</span>
  {% else %}
    {% render 'price',
      show_unit_price: true,
      show_sale_price_first: block_settings.show_sale_price_first,
      product_resource: product
    %}
  {% endif %}
</product-price>

{% schema %}
{
  "name": "Price",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "Displays price from parent product"
    },
    {
      "type": "paragraph",
      "content": "Edit price formatting in [theme settings](/editor?context=theme&category=currency%20code)"
    },
    {
      "type": "checkbox",
      "id": "show_sale_price_first",
      "label": "Show sale price first",
      "default": true
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "Text preset",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "paragraph",
          "label": "Paragraph"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "info": "Edit presets in [theme settings](/editor?context=theme&category=typography)"
    }
  ]
}
{% endschema %}
