
{%- assign block_settings = block.settings -%}
<button
  type="submit"
  class="button submit-button size-style {{ block_settings.style_class }}"
  style="{% render 'size-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  {{ block_settings.label }}
</button>

{% stylesheet %}
  .submit-button {
    min-width: max-content;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Submit button",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Submit"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "Style",
      "options": [
        {
          "value": "button",
          "label": "Primary"
        },
        {
          "value": "button-secondary",
          "label": "Secondary"
        }
      ],
      "default": "button"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Desktop width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "Mobile width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    }
  ],
  "presets": []
}
{% endschema %}
